.Main{
	display: flex;
	overflow: hidden;
	background-image: url( 'https://images.unsplash.com/photo-1594568284297-7c64464062b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
	padding: 20px;
	:global{
		img{
			width: 100%;
			object-fit: cover;
		}
	}
}